div.gallery {
  display: inline-block;
  position: relative;
  width: 20%;
  min-width: 128px;
  margin: 5px;
  border: 1px solid #ccc;
  vertical-align: top;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

table, th, td {
    border: 1px solid;
}

.imagebox {
    height: auto;
    font-size:75%;
    width: fit-content;
}

.imagecontainer {
    max-height:50vh;
    border: 2px solid black;
    padding: 5px;
}

.imagecontainer img {
    max-height:inherit;
    height:auto;
}
